.pull-left>img {
    width: 125px;
}

.info-block {
    border-right: 5px solid #E6E6E6;
    margin-bottom: 25px;
    margin-right: 10px;
}

.info-block .square-box {
    width: 100px;
    min-height: 110px;
    margin-right: 22px;
    text-align: center!important;
    background-color: #676767;
    padding: 20px 0;
}

.info-block.block-info {
    border-color: #92907c;
}

.info-block.block-info .square-box {
    background-color: #92907c;
    color: #FFF;
}

.pull-left {
    float: left;
    margin-right: 35px;
    margin-left: 10px;
}

.btn-success:focus {
    color: #FFF;
    background-color: #92907C;
    border-color: #92907C;
}

.btn-success {
    color: #FFF;
    background-color: #92907C;
    border-color: #92907C;
}

.btn-success:hover {
    color: #92907C;
    background-color: #fff;
    border-color: #92907C;
}

.btn-success:active {
    color: #FFF;
    background-color: #92907C;
    border-color: #92907C;
}

.btn-success:checked {
    color: #FFF;
    background-color: #92907C;
    border-color: #92907C;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
    color: #FFF;
    background-color: #92907C;
    border-color: #92907C;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 5px;
}

.btn-edit {
    margin-right: 10px;
}

.img-circle {
    border-radius: 50%;
    height: 125px;
}