    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }
    
    body {
        background-image: url(../img/wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    .form-control {
        font-family: "Roboto", sans-serif;
        background: #f2f2f2;
        font-size: 14px;
    }
    
    .form input {
        width: 100%;
        margin: 0 0 15px;
        padding: 15px;
    }
    
    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }
    
    .form .register-form {
        display: none;
    }
    
    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .container:before,
    .container:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .container .info {
        margin: 50px auto;
        text-align: center;
    }
    
    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }
    
    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }
    
    .btn-success:focus {
        color: #FFF;
        background-color: #92907C;
        border-color: #92907C;
    }
    
    .btn-success {
        color: #FFF;
        background-color: #92907C;
        border-color: #92907C;
    }
    
    .btn-success:hover {
        color: #92907C;
        background-color: #fff;
        border-color: #92907C;
    }
    
    .btn-success:active {
        color: #FFF;
        background-color: #92907C;
        border-color: #92907C;
    }
    
    .btn-success:checked {
        color: #FFF;
        background-color: #92907C;
        border-color: #92907C;
    }
    
    .btn-success.active.focus,
    .btn-success.active:focus,
    .btn-success.active:hover,
    .btn-success:active.focus,
    .btn-success:active:focus,
    .btn-success:active:hover,
    .open>.dropdown-toggle.btn-success.focus,
    .open>.dropdown-toggle.btn-success:focus,
    .open>.dropdown-toggle.btn-success:hover {
        color: #FFF;
        background-color: #92907C;
        border-color: #92907C;
    }