body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.btn-outline-success {
    background-color: transparent;
    border-color: #ccc;
}

button {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.profilePhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn {
    padding: 5px;
    margin: 10px;
}

.dropdown-menu {
    background-color: #e7e7e7 !important;
    color: #000 !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    float: right !important;
}

.dropdown,
.dropup {
    float: right;
}