 .img-thumbnail {
     width: 192px;
     height: 192px;
 }
 
 .btn-success:focus {
     color: #FFF;
     background-color: #92907C;
     border-color: #92907C;
 }
 
 .btn-success {
     color: #FFF;
     background-color: #92907C;
     border-color: #92907C;
 }
 
 .btn-success:hover {
     color: #92907C;
     background-color: #fff;
     border-color: #92907C;
 }
 
 .btn-success:active {
     color: #FFF;
     background-color: #92907C;
     border-color: #92907C;
 }
 
 .btn-success:checked {
     color: #FFF;
     background-color: #92907C;
     border-color: #92907C;
 }
 
 .btn-success.active.focus,
 .btn-success.active:focus,
 .btn-success.active:hover,
 .btn-success:active.focus,
 .btn-success:active:focus,
 .btn-success:active:hover,
 .open>.dropdown-toggle.btn-success.focus,
 .open>.dropdown-toggle.btn-success:focus,
 .open>.dropdown-toggle.btn-success:hover {
     color: #FFF;
     background-color: #92907C;
     border-color: #92907C;
 }